.about{
    /* width: 100%; */
    height: 100vh;
    padding: 30px 0;
}
.about h1{
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: linear-gradient(to right, #c72092,#6c14d0);
    background-clip: text;
    color: transparent;
    font-weight: bold;
}
.about .about_main{
    width: 100%;
    padding: 4%;
    margin-top: -30px;
}
.about .about_main .image{
    width: 48%;
    height: 100%;
    float: left;
    padding: -20px 0;
    margin-right: 2%;

}
.about .about_main .image .bigImage{
    width: 70%;
    height: 100%;
    /* background: blue; */
    justify-content: center;
    align-items: center;
    display: flex;
    float: left;
    border-radius: 20px;
    box-shadow: 0 0 8px #6c14d0;
}
.about .about_main .image .bigImage img{
    object-fit: cover;
    padding: 90px;
    width: 135%;
}
.about .about_main .image .smallImage{
    width: 30%;
    height: 100%;
    margin-top: -2px;
    float: left;
}
.about .about_main .image .smallImage .img1{
    width: 100%;
    /* height: 95%; */
    margin: 4%;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    
}
.about .about_main .image .smallImage .img1 img{
    width:70%;
    object-fit: cover;
    padding: 10px;
    background: linear-gradient(to left, #c72092, #6c14d0);
    border-radius: 10px;
}
.about .about_main .about_text{
    margin-left: 2%;
    overflow: hidden;
    width: 48%;
    float: left;
    background: linear-gradient(to left, #c72092 , #6c14d0);
    background-clip: text;
    color: transparent;
    line-height: 25px;
    /* text-align: justify; */
    padding: 25px 30px;
    border-radius: 20px;
    box-shadow: 0 0 8px #c72092;
}
.about .about_main .about_text h2{
    width: 100%;
    font-size: 30px;
}
.about .about_main .about_text span{
    font-size: 18px;
    width: 100%;
}






/* 1.size col-xl*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .about .about_main .about_text h1{
        font-size: 25px;
    }
    .about .about_main .about_text span{
        font-size: 16px;
    }
  }
  
  /* 2.size col-lg*/
  /*Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .about .about_main .about_text h2{
        width: 100%;
        font-size:25px;
    }
    .about .about_main .about_text span{
        font-size: 14px;
    }
  }
  
  /* 3.size col-md*/
  @media (min-width:768px) and (max-width: 991.98px) {
    html{
        overflow-x: hidden;
    }
    .about{
       display: grid;
       height: 100%;
    }
    .about .about_main .image{
        width: 90%;
        margin-left: 80px;
        height: 40%;
        padding: 10px;
        
    }
    .about .about_main .image .bigImage{
        padding: 50px;
        /* height: 100%; */
        margin-top: 30px;
    }
    .about .about_main .image .bigImage img{
        object-fit: cover;
        width: 150%;
    }
    .about .about_main .image .smallImage{
        width: 30%;
        height: 56%;
        margin-top: -2px;
        float: left;
    }
    .about .about_main .image .smallImage .img1{
        width: 90%;
    }
    .about .about_main .about_text{
        width: 90%;
        overflow: hidden;
        margin-top: 10px;
    }

  }
  
  
  /* 4.size col-sm*/
  @media (min-width: 576px) and (max-width: 767.98px) {
    html{
        overflow-x: hidden;
    }
    .about{
       display: grid;
       height: 100%;
    }
    .about .about_main .image{
        width: 100%;
        margin-left: 50px;
        height: 40%;
        padding: 10px;
        display: grid;
    }
    .about .about_main .image .bigImage{
        padding: 50px;
        height: 50%;
        width: 80%;
        margin-top: 30px;
    }
    .about .about_main .image .bigImage img{
        object-fit: contain;
        width: 130%;
    }
    .about .about_main .image .smallImage{
        display: flex;
        width: 100%;
        margin-top: -180px;
        margin-left: -30px;
    }

    .about .about_main .image .smallImage .img1 img{
       width: 100%;
    }
    .about .about_main .about_text{
        width: 100%;
        overflow: hidden;

    }
  }
  
  /* 5.size col-12*/
  /*Extra small devices (portrait phones, less than 576px)*/
  @media (max-width: 575.98px) {
    html{
        overflow-x: hidden;
    }
    .about{
       display: grid;
       height: 100%;
    }
    .about .about_main .image{
        width: 100%;
        margin-left: 50px;
        height: 40%;
        padding: 10px;
        display: grid;
    }
    .about .about_main .image .bigImage{
        padding: 50px;
        height: 50%;
        width: 80%;
        margin-top: 30px;
    }
    .about .about_main .image .bigImage img{
        object-fit: contain;
        width: 210%;
    }
    .about .about_main .image .smallImage{
        display: flex;
        width: 100%;
        margin-top: -150px;
        margin-left: -30px;
    }

    .about .about_main .image .smallImage .img1 img{
       width: 100%;
    }
    .about .about_main .about_text{
        width: 100%;
        overflow: hidden;

    }
    .about .about_main .about_text h2{
        font-size: 25px;
    }
    .about .about_main .about_text span{
        font-size: 17px;
    }
  }


  /* 6.size real-phone*/
  @media (max-width: 450px) {
    html{
        overflow-x: hidden;
    }
    .about{

       display: grid;
       height: 100%;
    }
    .about .about_main .image{
        width: 90%;
        margin-left: 50px;
        height: 40%;
        padding: 10px;
        display: grid;
    }
    .about .about_main .image .bigImage{
        /* padding: 50px; */
        height: 50%;
        /* width: 90%; */
        margin-top: 30px;
    }
    .about .about_main .image .bigImage img{
        object-fit: contain;
        
    }
    .about .about_main .image .smallImage{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }
    
    .about .about_main .image .smallImage .img1 img{
       width: 90%;
    }
    .about .about_main .about_text{
        width: 100%;
        overflow: hidden;
        margin-top: 60px;
    }
    .about .about_main .about_text h2{
        font-size: 23px;
    }
    .about .about_main .about_text span{
        font-size: 15px;
    }
  }
